# Python
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/

# Rust
target/
Cargo.lock
sccache.log

# Go
prototyping/golang/prototype
prototype
*.exe

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
.env.local
